.banner {
    width: 100%;
}
.banner__imagen {
    width: 100%;
    height: calc (100vh-92px);
}
.banner__titulo {
    font-family: 'Pacifico', cursive;
    color: #fdfdfd;
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 18rem;
    text-align: center;
    text-shadow: 0 4px 4px black;
    width: 100%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .banner__titulo {
        font-size: 3.2rem;
        align-items: center;
        top: 30%
    }
}